$color-principal: #ff4800;
$color-secundario: #ff0000;
$color-blanco: #ffffff;
$color-principal-hover: #c50000;
$color-negro: #000 !default;

$fuente-base: "Segoe UI", Arial, sans-serif;

$header-altura: 90px;
$header-padding: 15px 25px;
$header-padding-mobile: 70px;

$gap: 15px;
$border-radius: 10px; 
$input-padding: 8px 14px;

