@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;
@use "base/reset";
@use "base/tipografia";
@use "layout/headear";
@use "layout/main";
@use "layout/footer";
@use "components/articulos";
@use "components/menu";
@use "pages/categorias";
@use "pages/productos";