@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.piedepagina {
    width: 100%;
    background-color: $color-principal;
    color: $color-blanco;
    text-align: center;
    padding: 30px $gap;
    margin-top: 40px;

    h3 {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 20px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        @include flex(center, null, 15px);

        li {
            a {
                display: inline-block;
                width: 40px;
                height: 40px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    transition: transform 0.3s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .piedepagina {
        padding: 20px $gap;

        ul {
            flex-wrap: wrap;
            gap: 10px;
        }
    }
}