@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


.articulos {
    padding: 2rem 1rem;
    text-align: center;

    .titulo-seccion {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .articulos-lista {
        @include flex(center, null, 1.5rem, null, wrap);

        .articulo {
            flex: 1 1 220px;
            border-radius: 12px;
            overflow: hidden;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s;

            &:hover {
                transform: translateY(-5px);
            }

            .articulo-imagen {
                width: 100%;
                height: 180px;
                object-fit: cover;
            }

            .articulo-titulo {
                margin: 10px 0;
                font-weight: 600;
            }
        }
    }
}