@use "../abstracts/variables" as *;

html,
body {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: $fuente-base;
    margin: 0;
    padding: 0;
}

main {
    padding-top: $header-altura;
}